<br />
<div class="animated fadeIn">
    <div class="container">
        <hr />
        <h1 class='h1'>About FrameBox.js </h1>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <p>
                        FrameBox.js was designed to be an open source framing engine for Fine Art websites to incorporate beautiful framing into their online galleries.
                        We also provide a secondary framing service for e-commerce websites that are interested in selling high quality framing with their artwork. Please contact us by email at <a href="mailTo:tavig123@hotmail.com">tavig123@hotmail.com </a> &nbsp;if you are interested or have any questions regarding our API.                       
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="h4 text-center"><a class="ng-binding" href="mailto:{{data.project.author.email}}">Lead Developer</a></h4>
                <section>
                    <div class="col-sm-12">                       
                        <framebox [image]="image" [pieceName]="pieceName" [frameStyle]="frameStyle" [EnableSelection]="false"></framebox>
                    </div>
                </section>
                <div class="clearfix"></div>
                <br />
                <section>
                    <a class="btn btn-default" style="width: 100%;" routerLink="/contact">Send a Message</a>
                </section>
            </div>
            <div class="col-md-8">
                <br /><br />
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-user"></i> General Information</div>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Full Name</th>
                                    <td>{{data.project.author.first + ' ' + data.project.author.last}}</td>
                                </tr>
                                <tr>
                                    <th>Location</th>
                                    <td>{{data.location.state + ', ' + data.location.country}}</td>
                                </tr>
                                <tr>
                                    <th>Job Title</th>
                                    <td>{{data.project.author.jobtitle}}</td>
                                </tr>
                                <tr>
                                    <th>Programming Languages</th>
                                    <td>C#, VB.Net Javascript, TypeScript</td>
                                </tr>
                                <tr>
                                    <th>Frameworks</th>
                                    <td>
                                        <b>Backend</b>: NodeJs,.NET Core, MVC and Web API Frameworks. <br />
                                        <b>Frontend</b>: Angular 1.0, Angular 2.0, Angular 4.0, IONIC FrameWork, jQuery, HTML5/CSS, Twitter Bootstrap.
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><a href="mailto:{{data.project.author.email}}">{{data.project.author.email}}</a></td>
                                </tr>
                                <tr>
                                    <th>About</th>
                                    <td>I spend most of my time keeping myself up to date on the latest technologies and writing code. I also enjoy billiards and happy hour on Friday's.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a onclick="ga.push(['_trackEvent','View GitHub','zip',this.href]);" href="https://github.com/tokyoite/FrameBox" style="width:100%;" class="btn btn-primary btn-lg">View on GitHub</a>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a routerLink="/docs" onclick="ga.push(['_trackEvent','View Docs','Documentation',this.href]);" class="btn btn-primary btn-lg" style="width:100%;">View Docs</a>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a onclick="ga.push(['_trackEvent','Download','zip',this.href]);" href="https://github.com/tokyoite/FrameBox/zipball/master" style="width:100%;" class="btn btn-primary btn-lg">Download .zip</a>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a onclick="ga.push(['_trackEvent', 'Download', '.tar.gz', this.href]);" href="https://github.com/tokyoite/FrameBox/tarball/master" style="width:100%;" class="btn btn-primary btn-lg">Download .tar.gz</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br />
