<div class="container animated fadeIn">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <hr />
                    <div class="jumbotron">
                        <h1 class="text-center">{{data.project.name}}</h1>
                        <p class="text-center">{{data.project.description}}</p>

                        <div class="text-center form-inline">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <a onclick="ga.push(['_trackEvent','View GitHub','zip',this.href]);" href="https://github.com/tokyoite/FrameBox" style="width:100%;" class="btn btn-primary btn-lg">View on GitHub</a>

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <a routerLink="/docs" onclick="ga.push(['_trackEvent','View Docs','Documentation',this.href]);" class="btn btn-primary btn-lg" style="width:100%;">View Docs</a>

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <a onclick="ga.push(['_trackEvent','Download','zip',this.href]);" href="https://github.com/tokyoite/FrameBox/zipball/master" style="width:100%;" class="btn btn-primary btn-lg">Download .zip</a>

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <a onclick="ga.push(['_trackEvent', 'Download', '.tar.gz', this.href]);" href="https://github.com/tokyoite/FrameBox/tarball/master" style="width:100%;" class="btn btn-primary btn-lg">Download .tar.gz</a>

                                </div>
                            </div>
                        </div>
                        <br/>
                                <div class="row">
                                    <div class="well col-lg-8 col-md-9 col-sm-12 col-xs-12">
                                        <!--<h3 class="text-warning">"{{pieceName}}",&nbsp; by: <a onclick="window.open('http://wylandflorida.com/#/artPiece/9726')">Jim Warren</a>  | Size: 24 x 36</h3>-->
                                        <div class="col-sm-12">
                                            <framebox [image]="image" [pieceName]="pieceName" [frameStyle]="frameStyle" [EnableSelection]="false"></framebox>
                                        </div>

                                    </div>
            <div style="height:500px;overflow-y:scroll;" class="well col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <framebox-selection [(frameStyle)]="frameStyle"></framebox-selection>
            </div>
        </div> 
           <div class="row">
               <div class="well row">
                   <div class="col-sm-12">
                       <span><b>Download FrameBox from npm.</b></span>
                       <pre><code class="TypeScript" pCode>npm install framebox@4.3.0 </code></pre>
                   </div>
                   <div class="col-sm-12">
                       <span><b>Import FrameBoxModule from node_modules folder </b></span>
                       <pre><code class="TypeScript" pCode>import &#123; FrameBoxModule &#125; from 'framebox';</code></pre>
                   </div>
                   <div class="col-sm-12">
                       <span><b>Add FrameBoxModule to @ngModule imports. </b></span>
                       <pre>
<code class="TypeScript" pCode>
@NgModule(&#123;
    &nbsp;declarations: [
        &nbsp;&nbsp;AppComponent,
        &nbsp;&nbsp;NavbarComponent,
        &nbsp;&nbsp;FooterComponent
    &nbsp;],
    &nbsp;imports: [
        &nbsp;&nbsp;BrowserModule,
        &nbsp;&nbsp;FormsModule,
        &nbsp;&nbsp;HttpModule,
        &nbsp;&nbsp;<b>FrameBoxModule</b>
    &nbsp;],
    &nbsp;providers: [DataService],
    &nbsp;bootstrap: [AppComponent]
&#125;)   
                </code>
</pre>
                   </div>

               </div>
               <hr />
               <h2>Usage</h2>
               <hr />
               <div class="well row">
                   <div class="col-sm-12">
                       <p class="lead">Typical Angular 2 component using typescript.</p>

                       <p></p>
                       <pre><code class="html" pCode>
import &#123; Component &#125; from &#x27;@angular/core&#x27;;
@Component(&#123;
    selector: &#x27;home&#x27;,
    templateUrl: &#x27;./home.component.html&#x27;
&#125;)
export class HomeComponent &#123;
    pieceName: string = &#x22;Dog Heaven 4&#x22;;
    selectedPieceName: string = &#x22;&#x22;;
    imageLocation: string = &#x22;&#x22;;
    image: string = &#x22;http://wylandflorida.com/Images/JimWarren/65/thumbsXL/thumb_Dog Heaven 4.jpg&#x22;;
    frameStyle: string = &#x22;Package_2552&#x22;;

    constructor() &#123; &#125;

&#125;         
                </code></pre>

                       <p class="lead">Typical Template using Twitter Bootstrap</p>
                       <pre><code class="html" pCode>
&#x3C;div class=&#x22;row&#x22;&#x3E;
    &#x3C;div class=&#x22;well col-lg-8 col-md-9 col-sm-12 col-xs-12&#x22;&#x3E;
        &#x3C;framebox [image]=&#x22;image&#x22; [pieceName]=&#x22;pieceName&#x22; [frameStyle]=&#x22;frameStyle&#x22; [EnableSelection]=&#x22;false&#x22;&#x3E;&#x3C;/framebox&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;well col-lg-4 col-md-3 col-sm-12 col-xs-12&#x22;&#x3E;
        &#x3C;framebox-selection [(frameStyle)]=&#x22;frameStyle&#x22;&#x3E;&#x3C;/framebox-selection&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;                
                </code></pre>
                   </div>
               </div>
               <h2>Selectors</h2>
               <hr />
               <div class="well row">
                   <div class="col-sm-12">
                       <b class="lead">[framebox]:</b>
                       <pre><code class="TypeScript" pCode><b class="lead">&#x3C;framebox&#x3E;&#x3C;/ framebox&#x3E;</b></code></pre>

                       <span><b class="lead">Attributes:</b></span>
                       <table class="table table-responsive table-bordered table-hover">
                           <thead style="background-color:white;color:black;">
                               <tr>
                                   <th>Name</th>
                                   <th>Type</th>
                                   <th>Description</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>[image]</td>
                                   <td>(string)</td>
                                   <td>Your image URL.</td>
                               </tr>
                               <tr>
                                   <td>[pieceName]</td>
                                   <td>(string)</td>
                                   <td>Name of Image.</td>
                               </tr>
                               <tr>
                                   <td>[EnableSelection]</td>
                                   <td>(boolean)</td>
                                   <td>Enables or disables frame selection on hover.</td>
                               </tr>
                               <tr>
                                   <td>[frameStyle]</td>
                                   <td>(string)</td>
                                   <td>
                                       List of available packages:<br />
                                       <i style="color:yellow">
                                           Package_2514,
                                           Package_2515,
                                           Package_2516,
                                           Package_2517,
                                           Package_2519,
                                           Package_2525,
                                           Package_2544,
                                           Package_2533,
                                           Package_2552,
                                           Package_2554,
                                           Package_2559,
                                           Package_2566,
                                           Package_2567,
                                           Package_2569,
                                           Package_2571
                                       </i>
                                   </td>
                               </tr>

                           </tbody>
                       </table>

                       <hr />

                       <b class="lead">[framebox-selection]:</b>
                       <pre><code class="html" pCode>&lt;framebox-selection [(frameStyle)]="frameStyle"&gt;&lt;/framebox-selection&gt;</code></pre>
                       <table class="table table-responsive table-bordered table-hover">
                           <thead style="background-color:white;color:black;">
                               <tr>
                                   <th>Name</th>
                                   <th>Type</th>
                                   <th>Description</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>[frameStyle]</td>
                                   <td>(string)</td>
                                   <td>
                                       List of available packages:<br />

                                       <i style="color:yellow">
                                           Package_2514,
                                           Package_2515,
                                           Package_2516,
                                           Package_2517,
                                           Package_2519,
                                           Package_2525,
                                           Package_2544,
                                           Package_2533,
                                           Package_2552,
                                           Package_2554,
                                           Package_2559,
                                           Package_2566,
                                           Package_2567,
                                           Package_2569,
                                           Package_2571
                                       </i>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
                    </div>

            </div>

        </div>
    </div>


</div>
